<div class="contentContainer">
  <div class="content">
    <table>
      <tr>
        <td><p class="contact-details-content" style=""><fa-icon [icon]="iconMail"></fa-icon></p></td>
        <td><p class="contact-details-content">{{contactDetails.mail}}</p></td>
      </tr>
      <tr>
        <td><p class="contact-details-content"><fa-icon [icon]="iconMapPin"></fa-icon></p></td>
        <td><p class="contact-details-content">{{contactDetails.location}}</p></td>
      </tr>
    </table>
  </div>
</div>
