<div class="contentContainer" style="margin-top: 20px;">
  <div class="content">
    <h3 style="font-weight: bold">Sprachen</h3>
    <div *ngFor="let language of languages">
      <p style="display: inline;">{{language.title}}: </p>
      <p style="display: inline;" class="listentry-subtitle">{{language.levelText}}</p>
      <p style="display: inline; width: 200px; height: 20px;">
        <bar-rating [readOnly]=true [theme]="'stars'" [(rate)]="language.level" [max]="5"></bar-rating>

      </p>
    </div>
  </div>
</div>
