<app-header></app-header>
<div class="mainContainer" style="overflow: hidden;">
  <div class="mainContainer" style="float: left; width: 67%; margin-bottom: 50px; margin-left: 20px; margin-right: 10px; margin-top: 20px;">
    <app-aboutme></app-aboutme>
    <app-projects></app-projects>
  </div>
  <div class="mainContainer" style="float:right; width: 28%; margin-left: 10px; margin-right: 20px; margin-top: 20px;">
    <app-contact-details></app-contact-details>
    <app-skills></app-skills>
  </div>
</div>
