<app-header></app-header>
<div style="overflow: hidden; background-color: #DAE3E7">
  <div class="mainContainer" style="float: left; width: 67%; margin-left: 20px; margin-right: 10px;">
    <app-aboutme></app-aboutme>
    <app-projects></app-projects>
  </div>
  <div class="mainContainer" style="float:right; width: 28%; margin-left: 10px; margin-right: 20px;">
    <app-contact-details></app-contact-details>
    <app-skills></app-skills>
    <app-qualification></app-qualification>
  </div>
</div>
