<div class="contentContainer row" style="padding: 30px;">
  <table style="width: 100%">
    <tr>
      <td style="text-align: center; width: 20%;">
        <img [src]="personDetails.profilimage" alt="Avatar" style="border-radius: 50%; width: 180px; margin-right: 20px;">
      </td>
      <td style="text-align: left; width: 55%;">
        <h1 class="name">{{ personDetails?.name }}</h1>
        <h2 class="jobtitle">{{ personDetails?.job }}</h2>
        <a [href]="personDetails.xingUrl"><h2 style="display: inline"><fa-icon [icon]="iconXing"></fa-icon></h2></a>
        <a [href]="personDetails.linkedinUrl"><h2 style="margin-left:20px; display: inline"><fa-icon [icon]="iconLinkedin"></fa-icon></h2></a>
      </td>
      <td style="text-align: left; width: 20%;">
        <a [href]="personDetails.mailTo"><button class="btn btn-success" title="KONTAKT"><fa-icon style="color:#fff;" [icon]="iconSend"></fa-icon><p style="color:#fff; margin-left: 10px; display: inline;">KONTAKT</p></button></a>
      </td>
    </tr>
  </table>
</div>
