<div class="contentContainer row" style="padding: 30px;">
  <table style="width: 100%">
    <tr>
      <td style="text-align: center; width: 20%;">
        <img [src]="personDetails.profilimage" alt="Avatar" style="border-radius: 50%; width: 180px; margin-right: 20px;">
      </td>
      <td style="text-align: left; width: 55%;">
        <h1 class="name">{{ personDetails.name }}</h1>
        <h2 class="jobtitle">{{ personDetails.job }}</h2>
        <h6>Socialmedia Icons here!</h6>
      </td>
      <td style="text-align: left; width: 20%;">
        <button class="btn btn-success glyphicon glyphicon-send" style="margin: 0px auto" [attr.href]="personDetails.mail"> Kontakt</button>
      </td>
    </tr>
  </table>
</div>
