<div class="contentContainer row" style="padding: 30px;">
  <table style="width: 100%">
    <tr>
      <td style="text-align: center; width: 20%;">
        <img [src]="personDetails.profilimage" alt="Avatar" style="border-radius: 50%; width: 180px; margin-right: 20px;">
      </td>
      <td style="text-align: left; width: 55%;">
        <h1 class="name">{{ personDetails.name }}</h1>
        <h2 class="jobtitle">{{ personDetails.job }}</h2>
        <a [href]="personDetails.xing"><h2 style="display: inline"><fa-icon [icon]="iconXing"></fa-icon></h2></a>
        <a [href]="personDetails.linkedin"><h2 style="margin-left:20px; display: inline"><fa-icon [icon]="iconLinkedin"></fa-icon></h2></a>
      </td>
      <td style="text-align: left; width: 20%;">
        <button class="btn btn-success glyphicon glyphicon-send" style="margin: 0px auto" [attr.href]="personDetails.mail" title="KONTAKT"> KONTAKT</button>
      </td>
    </tr>
  </table>
</div>
